<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Layout example</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="page">
  <header id="header">
    <h2 id="site-name"><a href="layout.html">Layout example</a></h2>
	<nav id="main-menu">
	  <h3 class="hidden">Main navigation</h3>
      <ul>
        <li><a href="#">Link one</a></li>
        <li><a href="#">Link two</a></li>
        <li><a href="#">Link three</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="page">
  <main id="main">
    <h1>Layout basics</h1>
    <p>Some main content.</p>
  </main>
  <aside id="sidebar-one">
    <p>Some left sidebar content.</p>
  </aside>
  <aside id="sidebar-two">
    <p>Some right sidebar content.</p>
  </aside>
  <footer id="footer">
    <p>Some footer content.</p>
  </footer>
</div>
</body>
</html>
