html {
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}
body {
  margin:0;
}
.page-wrapper {
  max-width:980px;
  margin:0 auto;
}
.hidden {
  position:absolute;
  left:-10000px;
}
#header, #main, #sidebar, #footer {
  border:1px dashed black;
}
/* Layout */
#header {
  position:relative;
  margin-bottom:1em;
}
#site-name {
  margin-left:0.5em;
}
#main, #sidebar {
  display:inline-block;
  vertical-align:top; /* because inline blocks align to the bottom by default */
}
#header,#main,#footer {
  padding:1em;
}
#main {
  width:65.75%; /* 67% - 1.25% */
  margin-right:2.5%;
  margin-bottom:1em;
}
#sidebar {
  width:31.75%; /* 33% - 1.25% */
  margin-left:-4px; /* remove inline-block margin */
}
/* Navigation styles */
#header-nav.main-navigation {
  position:absolute;
  right:0;
  top:0;
}
.main-navigation {
  font-family:Arial,Helvetica,sans-serif;
}
.main-navigation li {
  display:inline-block;
  margin-right:1em;
  font-size:1.1em;
}
.main-navigation a {
  color:#000;
  text-decoration:none;
}
#footer-nav.main-navigation ul {
  padding-left:0;
  margin:0; /* remove default top and bottom margins */
}
/* Main */
#main h1 {
  margin-top:0; /* remove default top margin */
}
.name {
  font-style:italic;
  font-weight:bold;
}
.ref {
  font-style:italic;
}
.left { /* I like to create a class that I can use for any images I want to float left */
  float:left;
  margin:0.8em 0.5em 0 0;
  max-width:275px;
  width:100%;
}
#author-info {
  border:1px solid #aaa;
  padding:1em;
  color:#333;
  font-style:italic;
}
#author-info h2 {
  font-size:1.1em;
  margin:0;
}
#author-info p {
  margin-top:0;
  margin-bottom:0.5em;
}
/* Sidebar */
.block h2.block-title {
  margin:0;
  color:#fff;
  background-color:#2860d4;
  text-transform:uppercase;
  font:1em/1 normal Arial,Helvetica,sans-serif;
  padding:0.5em 0.7em;
}
.block .block-list-item {
  border-bottom:1px solid #2860d4;
  padding:0.5em;
}
.block .block-list-item:last-child {
  border-bottom:0;
}
.block .block-list-img {
  width:25%;
}
.block-list-item h3 {
  width:75%;
  padding-left:0.5em;
}
.block .block-list-img,
.block-list-item h3 {
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}
.block-list-item h3 a {
  color:#000;
  font-weight:normal;
  font-size:0.95em;
}