<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Layout example</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
<div class="page">
  <header id="header">
    <h2 id="site-name">Layout example</h2>
	<a class="menu-toggle" onclick="toggleMenu()" href="#">Menu</a>
	<nav id="main-menu">
      <ul>
        <li><a href="#">Link one</a></li>
        <li><a href="#">Link two</a></li>
        <li><a href="#">Link three</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="page">
  <main id="main">
    <h1 class="page-title random-heading">Layout basics</h1>
    <p>Lorem ipsum dolor sit amet, nibh mucius ocurreret eos in. 
	Pro cu graece option quaeque, vim magna tractatos facilisis id. 
	Mutat nihil volumus et has, sed agam sonet evertitur ut. Has id 
	prima labore fastidii, ne habeo laboramus mel.</p>
    <p>Ea usu possit equidem definiebas, id pri assum referrentur. 
	Usu ex solum homero, ea mentitum honestatis vel. Veniam omnium 
	persecuti per ad, vis eu aeque deserunt. Ne odio menandri mea, 
	ius imperdiet hendrerit id. In vel assum assentior comprehensam, 
	vim vide feugait mnesarchum no. Cu utinam philosophia eam, mea ut 
	nibh causae placerat.</p>
    <p>Sea illum option virtute no. Cum augue dissentiet et. No doming 
	epicurei mel. Est debet veniam feugiat ad, pro ex ubique signiferumque.</p>
  </main>
  <aside id="sidebar-one">
    <p>Some left sidebar content.</p>
  </aside>
  <aside id="sidebar-two">
    <ul>
      <li><a href="test.pdf">PDF</a></li>
      <li><a href="test2.pdf">PDF</a></li>
    </ul>
    <p>Some right sidebar content.</p>
  </aside>
  <footer id="footer">
    <p>Some footer content.</p>
  </footer>
</div>
</body>
</html>
